<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/snake.css">
</head>
<body>
    <div id="grille"></div>
    <div id="score">Score : 0</div>
    
    <button id="pause">PAUSE</button>
    <button id="continue" class="hidden">CONTINUER</button>
    
    <div id="perdu" class="hidden">PERDU</div>

    <script src="/javascripts/snake.js"></script>
    <audio id="bg-music" src="/sounds/jeu_music.mp3" loop></audio>
<script src="/javascripts/music.js"></script>
</body>
</html>
