<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mots melés</title>
    <link rel="stylesheet" href="/stylesheets/Grill.css">
</head>
<body>

    <div id="compteur">
    Mots trouvés : 0 / 7
     </div>

    <div id ="grille"> </div>

    <div id="lsmots" class="liste">
   CHAMBRE, TROUVER, CLE, SAUVER, MAITRESSE, COFFRE, BUREAU
    </div>

    <button id="startbtn" > BRAVO !</button>
    
    <audio id="bg-music" src="/sounds/jeu_music.mp3" loop></audio>
<script src="/javascripts/music.js"></script>


   <script src="/javascripts/grill.js"></script>

   
</body> 

</html>